<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.GoodsMapper">
    <!--查询所有商品信息-->
    <select id="getAllGoods" resultType="goods">
        select *
        from goods_info
    </select>
<!--    用户结算订单,修改商品信息-->
    <update id="balancing">
        update goods_info
        set buy_user      = #{userId},
            exchange_time = #{date},
            order_id = #{orderId}
        where goods_id = #{goodsId}
    </update>
    <select id="getOrders" resultType="goods">
        SELECT goods_info.*
        FROM goods_info
                 INNER JOIN user_order ON user_order.order_id = goods_info.order_id
        WHERE user_order.is_delete = 0;
    </select>
    <update id="complete">
        update goods_info set order_state = 1 where order_id = #{orderId}
    </update>
    <insert id="uploadGoods">
      insert into goods_info(goods_id,goods_img,goods_introduce,price,sell_user,upload_time) values (#{goodsId},#{imageName},#{description},#{price},#{userAccount},#{uploadTime})
    </insert>
</mapper>